## LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
latex.out/
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## IDE specific files
.idea/
.vscode/
*.swp
*.swo

## Build directory
out/
auxil/ 